{% if site.index.expand == true %}
    {% if page.layout == 'photo' and item.photos and item.photos | size != 0 %}
	    {% include _partial/post/gallery.html %}
    {% endif %}

      <li class="p-item" clstag="channel|keycount|3334|25_item_1063190"><a href="{{ site.baseurl }}{{ item.url }}">
        <div class="p-img">
         <img src="//m.360buyimg.com/mobilecms/jfs/t5608/139/5475352011/32253/34303dcf/5961a41cN5fd8fc33.jpg!q70.jpg" width="200" height="200" />
        </div>
        <div class="p-name">
         {{ item.title }}
        </div>
        <div class="p-sub">
         {{ item.sub }}
        </div>
        <div class="p-num">
         <em>初次阅读：{{ item.date | date: "%F" }} &nbsp;&nbsp; 推荐指数：<em id="start"></em>
        </div></a></li>
      <li class="clr"></li>

      <script>
      $('#star').raty({ readOnly: true, score: 3 });
      </script>

{% else %}
<section class="post" itemscope itemprop="blogitem">
  {% if item.link %}
    <a href="{{ item.link }}" target="_blank">
  {% else %}
    <a href="{{ site.baseurl }}{{ item.url }}" title="{{ item.title }}" itemprop="url">
  {% endif %}
    <h1 itemprop="name">{{ item.title }}</h1>
    {% if desc %}
     {% if item.description %}
      <p itemprop="description" >{{ item.description }}</p>
      {% elsif item.excerpt %}
       <p itemprop="description" >{{ item.excerpt | slice: 0, 140 }}</p>
      {% else %}
           <p itemprop="description" >{{ item.content | slice: 0, 140 }}</p>
      {% endif %}
    {% endif %}
    <time datetime="{{ item.date }}" itemprop="datePublished">{{ item.date | date: "%F" }}</time>
  </a>
</section>
{% endif %}
